html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    display: table;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div#container {
    margin: 0 auto;
}

div#headerContainer {
    display: inline-block;
}

h1#tamam {
    font-family: 'Gochi Hand', sans-serif;
    font-size: 120pt;
    margin: 0;
}

h3.subtitle {
    margin: 0;
    margin-top: -1em;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 30pt;
    color: #666;
}

div#links {
    display: block;
    margin: 0 auto;
    margin-top: 3em;
}

a.link {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a.link img {
    height: 310px;
    width: 237px;
    display: block;
}

a.link p {
    color: #555;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 20pt;
    margin: 0;
    padding: 0 0.5em;
    margin-top: 0.5em;
    border-bottom: 5px solid transparent;
    display: inline-block;
}

a.link:hover p {
    color: #000;
}

a.link:hover:nth-child(1) p{    
    border-bottom-color: #FF3232;
}

a.link:hover:nth-child(2) p{    
    border-bottom-color: #FF7218;
}

a.link:hover:nth-child(3) p{    
    border-bottom-color: #FFFA4F;
}