body {
    background-image: url("../img/testback.jpg");
    background-repeat: space;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    list-style-type: armenian;
    font-size: 62.5%;
    font-weight: 200;
}

* {
    margin: 0 auto;
    padding: 0;
}

@media only screen and (max-width: 1000px){
    body {
        font-size: 80%;
    }
}

@media only screen and (max-width: 600px){
    body {
        font-size: 60%;
    }
}

#Container {
    width: 90%;
    max-width: 1280px;
    height: 100%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

nav {
    margin: 20px;
    padding-top: 30px;
    font-size: 3em;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

nav ul li a:hover {
    border-bottom: 1px solid black;
}

#PageTop {
    height: 200px;
    padding-bottom: 30px;
    font-family: 'Gochi Hand', sans-serif;
}

#PageTop img {
    height: 200px;
    width: 200px;
    padding-top: 20px;
    float: left;
    clear: left;
}

#PageTop h1 {
    font-size: 10em;
}

.Title {
    margin: 40px;
    border-bottom: 1px solid black;
    font-size: 4em;
    font-family: 'Gochi Hand', sans-serif;
}

.Splash {
    background-color: aqua;
    font-size: 2em;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px black;
}

#Container p {
    font-size: 2em;
    margin: 40px;
}

#PageTop img.hover {
    display: none;
}

#PageTopImg:hover img.original, #PageTopImg:active img.original, #PageTopImg:focus img.original {
    display: none;
}

#PageTopImg:hover img.hover, #PageTopImg:active img.hover, #PageTopImg:focus img.hover {
    display: block;
}